<?xml version="1.0" encoding="utf-8" ?>
<eventHandlers>
	<reference src="SystemEventHandlers.config" />
	<!--task source="WEB" name="CREATE_SITE">
		<handler type="FuseCP.EnterpriseServer.TestTaskHandler, FuseCP.EnterpriseServer" />
		<handler type="FuseCP.EnterpriseServer.TestTaskHandler2, FuseCP.EnterpriseServer" />
	</task-->
	<!--task source="WEB_SITE" name="ADD">
		<handler type="FuseCP.EnterpriseServer.Extensions.CreateWebSiteHandler, FuseCP.EnterpriseServer.Extensions" />
	</task-->
</eventHandlers>
